body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
  user-select: none; /* Standard syntax */
}
h1{
  font-weight: 400;
}
h3{
  font-weight: 400;
}
h4{
  font-weight: 400;
}
h5{
  font-weight: 400;
}
h2{
  font-weight: 400;
}
h6{
  font-weight: 400;
}
.weighted{
  font-weight: 500;
}
.psmall{
  font-size: small;
}
.form-control{
  border: 1.5px solid purple !important;
  border-radius: 6px !important;
  padding: 7px 12px !important;
}
.container {
  margin-top: 72px !important;
  width: 100%;
  max-width: 475px;
  border-radius: 8px;
  background: #e7e7e7;
  overflow: hidden;
  margin: 0;
  padding: 0;
  transform: scale(.9);
  position: relative !important;
}
.close{
  width: 36px;
  height: 36px;
  position: absolute;
  padding: 7px;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
.close:hover{
  background: red;
  color: white;
}

.close-icon{
  background: url(close.png) no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
}
.close-icon:hover{
  filter: invert();
}

.header{
  padding: 24px;
  padding-bottom: 8px;
}
.footer{
  padding: 24px;
}

.login-screen, .dashboard {
  display: none;
  background-color: #e7e7e7;
  color: black;
}

.login-screen {
  display: flex;
  flex-direction: column;
}

.login-box {
}

.user-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.form {
  padding: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: white;
}

.icon{
  background: url(logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 52px;
  height: 52px;
}

.form input {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

p{
  margin: 0;
}

.text-blue{
  text-align: center;
  padding: 6px 0px;
  border-radius: 4px;
  width: 35%;
  color: #0078d7;
  cursor: pointer;
}
.text-blue:hover{
  background: #f7f7f7;
}
.form button {
  padding: 10px;
  background-color: #0078d7;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-header h1 {
  margin: 0;
}

.dashboard-content {
  margin-top: 20px;
}

.btn-primary{
  padding: 3px 5px;
  background-color: #0078d7;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.btn-primary:hover{
  background-color: #055ca3;

}
.btn-secondary{
  padding: 3px 5px;
  background-color: white;
  border: 1px solid #bebebe;
  color: black;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.eye-icon{
  width: 24px;
  height: 24px;
  background: url(eye.png);
  background-size: contain;
  background-position: center center;
  cursor: pointer;
}
.eye{
  position: absolute;
  padding: 7px;
  right: 1px;
  top: 11px;
  cursor: pointer;
  z-index: 300000000;
}
.eye:active{
  background: purple;
}
input:focus {
  outline: none !important;
  box-shadow: none !important;
}